@charset "UTF-8";
@import url(reset.css);

*{
    box-sizing: border-box;
}
body{
    line-height: 1.8;
    font-family: YuGothic,'Yu Gothic',sans-serif;
    font-size: 16px;
    letter-spacing: .2em;
    background: #e7f1f9;
    color: rgb(0, 53, 89);
}
a{
    color: inherit;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
#main-visual{
    width: 100%;
    height: 100vh;
    background: url(../custom/images/main.jpg) center/cover no-repeat;
}
#main-visual .inner{
    margin-top: auto;
    margin-bottom: 0;
    color: #033166;
}
#main-visual + section .inner{
    margin-top: 0;
}
section+section{
    margin-top: 160px;
}
.bg{
    display: flex;
    flex-wrap: wrap;
}
.bg img{
    width: calc((750px+(100%-750px)/2));
    margin-bottom: 80px;
}
.bg.right img{
    margin-left: auto;
}
.bg.left img{
    margin-right: auto;
}
.inner{
    width: 750px;
    margin: auto;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(0, 56, 99);
}
h2 span{
    display: block;
    color: #546e7a;
    font-family: 'Tangerine', cursive;
    font-weight: normal;
    margin-top: 2px;
}
.author{
    font-size: 15px;
}
.profile{
    margin: 0 0 12px;
}
p{
    line-height: 2.0;
}
p+p{
    margin-top: 15px;
}
.slide-in{
    width: 100%;
    height: 400px;
    margin-top: 100px;
    background: linear-gradient(90deg, rgb(23, 47, 107) 50%, white 100%);
    color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-left: 80px;
    transition: all .6s;
}
.slide-in .more{
    position: absolute;
    bottom: 50px;
    left: 80px;
    padding: 10px;
    border: 2px solid #fff;
    font-size: 14px;
    transition: all .6s;
}
.slide-in img{
    position: absolute;
    right: 0;
    margin: auto;
    width: auto;
    height: 300px;
}
.slide-in.show{
    transform: translateX(0);
    opacity: .8;
}
.slide-in.show:hover{
    opacity: .8;
}
.slide-in.show:hover .more{
    background: #fff;
    color: #031a38;
}
footer{
    width: 100%;
    background: #c5dffc;
    text-align: center;
    padding: 10px 0;
}

footer small{
    display: block;
    padding: 10px 0;
}